$green:#96CC39;
$green-darker: #689D00;
$green-lighter:#CEFA85;
$black: #492A1A;
$black-lighter: #bb9e80;
$f-black: #130f40;
$light-color: #784930;
$box-shasow: 0 .5rem 1.5rem rgba(234, 218, 202,.1);
$border: 2rem solid rgba(234, 218, 202,.1);
$outline: .1rem solid rgba(234, 218, 202,.9);
$outline-hover: .2rem solid $light-color;
$bg: #EADACA;
$overlay: rgba(73, 42, 26, .5);