/*--------- Google Fonts ---------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/*--------- SASS Styles ---------*/
/*---------General---------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

body {
  background: #EADACA;
}

section {
  padding: 0 2rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  text-align: center;
  padding: .8rem 3rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: 0.2rem solid #492A1A;
  color: #492A1A;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #96CC39;
  color: #fff;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: #492A1A;
  font-weight: 400;
}

.heading span {
  background: #689D00;
  color: #fff;
  display: inline-block;
  padding: .5rem 3rem;
  font-weight: 300;
  -webkit-clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
          clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}

.box h3 {
  font-size: 2rem;
  line-height: 1.5;
  color: #492A1A;
  padding-top: 1rem;
}

.box .precio {
  font-size: 18px;
  color: #492A1A;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
}

.header .logo {
  font-size: 2.3rem;
  font-weight: 400;
  color: #96CC39;
  cursor: pointer;
}

.header .logo i {
  color: #689D00;
  font-size: 2.3rem;
}

.header .logo span {
  color: #689D00;
  font-weight: 700;
  font-size: 2.5rem;
}

.header .logo:hover {
  color: #492A1A;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #492A1A;
}

.header .navbar a:hover {
  color: #96CC39;
}

.header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .icons i {
  font-size: 1.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #EADACA;
  color: #492A1A;
  margin-left: .3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons i:hover {
  background: #96CC39;
  color: #fff;
}

.header .icons .cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .icons .cart-icon i {
  font-size: 1.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #EADACA;
  color: #492A1A;
  margin-left: .3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons .cart-icon i:hover {
  background: #96CC39;
  color: #fff;
}

.header .icons .cart-icon .counter-cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 20%;
  left: 75%;
  z-index: 0;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #96CC39;
  text-align: center;
}

.header .icons #menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 40rem;
  height: 5rem;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
}

.header .search-form #search-box {
  height: 100%;
  width: 100%;
  background: none;
  font-size: 1.6rem;
  color: #492A1A;
  padding: 0 1.5rem;
  left: 1rem;
}

.header .search-form.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
  width: auto;
  background: #fff;
}

.header .shopping-cart .carrito-lista {
  width: auto;
  background: #fff;
}

.header .shopping-cart .carrito-lista .carrito-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 100px 70px 70px 50px;
      grid-template-columns: 70px 100px 70px 70px 50px;
  border-bottom: 0.1rem solid rgba(234, 218, 202, 0.9);
}

.header .shopping-cart .carrito-lista .carrito-items .carrito-img {
  padding: 1rem;
}

.header .shopping-cart .carrito-lista .carrito-items .carrito-img img {
  width: 100%;
}

.header .shopping-cart .carrito-lista .carrito-items .carrito-info {
  text-align: left;
  padding: 1rem;
}

.header .shopping-cart .carrito-lista .carrito-items .carrito-info h3 {
  font-size: 14px;
  color: #492A1A;
  font-weight: 500;
  margin-bottom: .5rem;
}

.header .shopping-cart .carrito-lista .carrito-items .carrito-info p {
  font-size: 12px;
  color: #492A1A;
  font-weight: 300;
}

.header .shopping-cart .carrito-lista .carrito-items .quantity-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.header .shopping-cart .carrito-lista .carrito-items .quantity-btns .btn-plus i {
  color: #492A1A;
  font-size: 16px;
  text-align: center;
  padding-top: .1rem;
}

.header .shopping-cart .carrito-lista .carrito-items .quantity-btns .btn-plus i:hover {
  color: #bb9e80;
}

.header .shopping-cart .carrito-lista .carrito-items .quantity-btns .cantidad-item {
  width: 20px;
  color: #492A1A;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.header .shopping-cart .carrito-lista .carrito-items .quantity-btns .btn-minus i {
  color: #492A1A;
  font-size: 16px;
  text-align: center;
  padding-top: .1rem;
}

.header .shopping-cart .carrito-lista .carrito-items .quantity-btns .btn-minus i:hover {
  color: #bb9e80;
}

.header .shopping-cart .carrito-lista .carrito-items .item-precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.header .shopping-cart .carrito-lista .carrito-items .item-precio p {
  font-size: 14px;
  color: #492A1A;
}

.header .shopping-cart .carrito-lista .carrito-items .btn-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #492A1A;
  font-size: 16px;
  text-align: center;
  padding: 1rem;
}

.header .shopping-cart .carrito-lista .carrito-items .btn-delete:hover {
  color: #bb9e80;
}

.header .shopping-cart .carrito-vacio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.header .shopping-cart .carrito-vacio p {
  text-align: center;
  color: #492A1A;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.header .shopping-cart .carrito-vacio .comprar-btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

.header .shopping-cart .carrito-vacio .comprar-btn a {
  text-align: center;
  padding: .8rem 8rem;
  font-size: 14px;
  border-radius: .5rem;
  border: 0.2rem solid #492A1A;
  color: #492A1A;
  cursor: pointer;
  background: none;
}

.header .shopping-cart .carrito-vacio .comprar-btn a:hover {
  background: #96CC39;
  color: #fff;
}

.header .shopping-cart .compra-modal .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: .5rem;
}

.header .shopping-cart .compra-modal .close-btn a {
  cursor: pointer;
  color: #492A1A;
  font-size: 20px;
  font-weight: 100;
}

.header .shopping-cart .compra-modal .close-btn a:hover {
  color: #bb9e80;
}

.header .shopping-cart .compra-modal .comprar-body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .shopping-cart .compra-modal .comprar-body h4 {
  font-size: 16px;
  color: #492A1A;
  font-weight: 500;
  padding: .5rem;
  text-align: center;
}

.header .shopping-cart .compra-modal .comprar-body h4 i {
  font-size: 16px;
  color: #96CC39;
}

.header .shopping-cart .compra-modal .comprar-body p {
  font-size: 14px;
  color: #492A1A;
  padding: .5rem;
  text-align: center;
}

.header .shopping-cart .compra-modal .comprar-body .comprar-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.header .shopping-cart .compra-modal .comprar-body .comprar-img img {
  width: 200px;
  padding: 1rem;
}

.header .shopping-cart .carrito-total {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 70px 50px;
      grid-template-columns: 240px 70px 50px;
}

.header .shopping-cart .carrito-total .total-info {
  text-align: center;
  padding: 1rem;
}

.header .shopping-cart .carrito-total .total-info h3 {
  font-size: 14px;
  color: #492A1A;
  font-weight: 500;
  margin-bottom: .5rem;
}

.header .shopping-cart .carrito-total .total-info .total-items p {
  font-size: 12px;
  color: #492A1A;
  font-weight: 300;
}

.header .shopping-cart .carrito-total .total-precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.header .shopping-cart .carrito-total .total-precio p {
  font-size: 14px;
  color: #492A1A;
}

.header .shopping-cart .carrito-total .vaciar-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.header .shopping-cart .carrito-total .vaciar-carrito i {
  color: #492A1A;
  font-size: 16px;
  text-align: center;
}

.header .shopping-cart .carrito-total .vaciar-carrito i:hover {
  color: #bb9e80;
}

.header .shopping-cart .carrito-total .comprar-btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

.header .shopping-cart .carrito-total .comprar-btn a {
  text-align: center;
  padding: .8rem 8rem;
  font-size: 14px;
  border-radius: .5rem;
  border: 0.2rem solid #492A1A;
  color: #492A1A;
  cursor: pointer;
  background: none;
}

.header .shopping-cart .carrito-total .comprar-btn a:hover {
  background: #96CC39;
  color: #fff;
}

.header .shopping-cart .box i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: #784930;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .shopping-cart .box i:hover {
  color: #96CC39;
}

.header .shopping-cart .box img {
  height: 10rem;
  width: 10rem;
}

.header .shopping-cart .box .content h3 {
  color: #492A1A;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
  color: #784930;
  font-size: 1.3rem;
}

.header .shopping-cart .box .content .quantity {
  padding-left: 1rem;
}

.header .shopping-cart .total {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
  color: #492A1A;
}

.header .shopping-cart .checkout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .shopping-cart .checkout-btn a {
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: .8rem 0;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: 0.2rem solid #492A1A;
  color: #492A1A;
  cursor: pointer;
}

.header .shopping-cart .checkout-btn a:hover {
  background: #96CC39;
  color: #fff;
}

.header .shopping-cart.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .shopping-cart .template-carrito .btn-plus {
  background: #fff;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .shopping-cart .template-carrito .btn-plus i {
  font-size: 2rem;
  color: #492A1A;
}

.header .shopping-cart .template-carrito .btn-plus i:hover {
  color: #689D00;
}

.header .shopping-cart .template-carrito .btn-minus button {
  background: #fff;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .shopping-cart .template-carrito .btn-minus button i {
  font-size: 2rem;
  color: #492A1A;
}

.header .shopping-cart .template-carrito .btn-minus button i:hover {
  color: red;
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
  padding: 1.5rem;
  border-radius: .5rem;
  background: #fff;
}

.header .login-form.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .tabs-container {
  list-style: none;
  padding: 0;
  margin: 0 0 2.5rem 0;
}

.header .tabs-container:after {
  content: "";
  display: table;
  clear: both;
}

.header .tabs-container li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  background: #EADACA;
  color: #492A1A;
  font-size: 1.5rem;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.header .tabs-container li a:hover {
  background: #96CC39;
  color: #fff;
}

.header .tabs-container .actived a {
  background: #96CC39;
  color: #fff;
}

.header .tab-content > div:last-child {
  display: none;
}

.header h4 {
  font-size: 2rem;
  text-align: center;
  color: #492A1A;
  font-weight: 500;
  margin: 0 0 1.5rem;
}

.header label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: #784930;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
  font-size: 1.5rem;
}

.header label .req {
  margin: 2px;
  color: #96CC39;
}

.header label.actived {
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
  left: 13px;
  font-size: 1rem;
}

.header label.actived .req {
  opacity: 0;
}

.header label .highlight {
  color: #492A1A;
}

.header input {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  background: none;
  border-bottom: 1px solid #EADACA;
  color: #492A1A;
  border-radius: .3rem;
}

.header input:focus {
  outline: none;
  border-bottom: 0.5px solid #bb9e80;
}

.header .input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.header .fila-arriba:after {
  content: "";
  display: table;
  clear: both;
}

.header .fila-arriba div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.header .fila-arriba div:last-child {
  margin: 0;
}

.header .forgot-password {
  text-align: right;
  margin-top: -1rem;
  margin-bottom: .5rem;
}

.header .forgot-password a {
  color: #689D00;
  font-size: 1.2rem;
  margin: 1rem;
}

.header .forgot-password a:hover {
  color: #96CC39;
}

.header .logIn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .logIn-container .logIn-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem;
  text-align: center;
  padding: .8rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: .5rem;
  border: 0.1rem solid #492A1A;
  color: #492A1A;
  cursor: pointer;
  background: none;
}

.header .logIn-container .logIn-btn:hover, .header .logIn-container .logIn-btn:focus {
  background: #96CC39;
  color: #fff;
}

.header .logIn-container .button-block {
  display: block;
  width: 100%;
}

.box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.box-container .box {
  padding: 3rem 2rem;
  background: #fff;
  outline: 0.1rem solid rgba(234, 218, 202, 0.9);
  outline-offset: -1rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-container .box:hover {
  outline: 0.2rem solid #784930;
  outline-offset: 0rem;
}

.box-container .box img {
  height: 16rem;
}

.box-container .box h3 {
  font-size: 18px;
  line-height: 1.5;
  color: #492A1A;
}

.box-container .box .promo-info {
  font-size: 14px;
  line-height: 1.5;
  color: #784930;
  padding-top: 1rem;
}

.box-container .box p {
  font-size: 16px;
  line-height: 1.5;
  color: #784930;
  padding: 1rem 0;
}

.box-container .box .price {
  font-size: 18px;
  color: #784930;
}

.precio {
  font-size: 18px;
  color: #784930;
}

/*----------- Home Section -----------*/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/banne1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.home .content {
  text-align: center;
  width: 60rem;
}

.home .content h3 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 300;
}

.home .content h3 span {
  color: #96CC39;
  font-weight: 600;
}

.home .content p {
  color: #CEFA85;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 0;
  line-height: 1.8;
}

.home .content .banner-btn {
  margin-top: 1rem;
  display: inline-block;
  text-align: center;
  padding: .8rem 3rem;
  font-size: 1.8rem;
  border-radius: .5rem;
  border: .2rem solid #fff;
  color: #fff;
  cursor: pointer;
  background: none;
}

.home .content .banner-btn:hover {
  background: #96CC39;
  color: #fff;
}

/*----------- Products Section -----------*/
.productos {
  padding: 5rem 0;
}

.productos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.productos__container .producto-box {
  width: 250px;
  background: #fff;
  border-radius: .5rem;
  margin: 1rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: 0.1rem solid rgba(234, 218, 202, 0.9);
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.productos__container .producto-box:hover {
  outline-offset: 0rem;
  outline: 0.2rem solid #784930;
}

.productos__container .producto-box img {
  width: 130px;
  height: 110px;
}

.productos__container .producto-box h3 {
  font-size: 18px;
  color: #492A1A;
  font-weight: 500;
  margin-bottom: .5rem;
}

.productos__container .producto-box p {
  font-size: 14px;
  color: #784930;
  margin-bottom: .5rem;
}

.productos__container .producto-box .precio {
  font-size: 18px;
  color: #492A1A;
}

.productos__container .producto-box .added-to-cart {
  font-size: 15px;
  color: #689D00;
  font-weight: 400;
  margin-top: 1rem;
}

/*----------- Promos Section -----------*/
.promos {
  padding: 0 14rem 5rem 14rem;
}

/*----------- Features Section -----------*/
.features {
  padding: 0 14rem 5rem 14rem;
}

/*----------- Review Section -----------*/
.review {
  padding: 0 14rem 5rem 14rem;
}

.review .review-slider .box {
  background: #fff;
  border-radius: .5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: 0.1rem solid rgba(234, 218, 202, 0.9);
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.review .review-slider .box:hover {
  outline-offset: 0rem;
  outline: 0.2rem solid #784930;
}

.review .review-slider .box p {
  padding: 1rem 0;
  line-height: 1.5;
  color: #784930;
  font-size: 1.5rem;
}

.review .review-slider .box .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.review .review-slider .box .client img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.review .review-slider .box .client .nameStars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review .review-slider .box .client .nameStars h3 {
  padding-bottom: .5rem;
  color: #492A1A;
  font-size: 1.5rem;
}

.review .review-slider .box .client .nameStars .stars i {
  color: #96CC39;
  font-size: 1.3rem;
}

/*----------- Footer Section -----------*/
.footer {
  padding: 3rem 4rem 1rem 4rem;
  background: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__box-container {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer__box-container .footer-box h3 {
  font-size: 2rem;
  color: #96CC39;
  font-weight: 500;
  padding: 1rem 0;
}

.footer__box-container .footer-box a i {
  color: #96CC39;
  font-size: 1.8rem;
  padding-left: .5rem;
}

.footer__box-container .footer-box .links {
  font-size: 1.3rem;
  display: block;
  color: #96CC39;
  font: 1.5rem;
  padding: 1rem 0;
}

.footer__box-container .footer-box .links i {
  font-size: 1.3rem;
  padding-right: .5rem;
}

.footer__box-container .footer-box .links:hover {
  color: #CEFA85;
  padding-right: 2rem;
}

.footer__box-container .footer-box p {
  font-size: 1.3rem;
  line-height: 1.8;
  font: 1.5rem;
  color: #96CC39;
  padding: 1rem 0;
}

.footer__box-container .footer-box img {
  width: 50px;
}

.footer__box-container .footer-box .share a i {
  font-size: 2rem;
  color: #96CC39;
  margin-left: .2rem;
}

.footer__box-container .footer-box .share a i:hover {
  color: #CEFA85;
}

.footer__box-container .footer-box .email {
  width: 100%;
  margin: .7rem 0;
  padding: .7rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  background: none;
  color: #96CC39;
  border: 1px solid #96CC39;
}

.footer__box-container .footer-box .submit {
  width: 100%;
  margin: .7rem 0;
  padding: .7rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  background: none;
  color: #96CC39;
  border: 1px solid #96CC39;
}

.footer__box-container .footer-box .submit:hover {
  background: #96CC39;
  color: #fff;
  border: 1px solid #689D00;
}

.footer__box-container .footer-box .payment-img {
  margin-top: 2rem;
  width: 15rem;
}

.footer .credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer .credit p {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 1.5rem;
  color: #96CC39;
}

.footer .credit p span {
  color: #CEFA85;
}

.footer .credit__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer .credit__links a {
  color: #96CC39;
  padding: 1rem 0;
}

.footer .credit__links a i {
  font-size: 2.3rem;
  padding-right: 1.5rem;
}

.footer .credit__links a:hover {
  color: #CEFA85;
}

/*-------------- Media Queries --------------*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
  .header {
    padding: 2rem;
  }
  .products-btn {
    padding: .8rem 3rem;
  }
  .features {
    padding: 0 5rem;
  }
  .promos {
    padding: 0 5rem;
  }
  .review {
    padding: 3rem 5rem;
  }
  .review .review-slider .box .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .review .review-slider .box .client img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 2rem;
  }
  .header .icons #menu-btn {
    display: inline-block;
  }
  .header .search-form {
    width: 90%;
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
            box-shadow: 0 0.5rem 1.5rem rgba(234, 218, 202, 0.1);
    border-radius: .5rem;
    background: #fff;
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
  .header .navbar.active {
    right: 2rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  .header .features {
    padding: 0 1rem;
  }
  .header .review {
    padding: 1rem;
  }
  .heading {
    font-size: 2.5rem;
  }
  .footer {
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*-------------- Purchase Transaccion --------------*/
.purchase-bg {
  height: 100vh;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 999;
  background-color: rgba(33, 38, 34, 0.5);
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */