/*--------- Google Fonts ---------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/*--------- SASS Styles ---------*/

@import "colors";

/*---------General---------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

body {
    background: $bg;
}

section {
    padding: 2rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    padding: .8rem 3rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: .2rem solid $black;
    color: $black;
    cursor: pointer;
    background: none;

    &:hover {
        background: $green;
        color: #fff;
    }
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: $black;
    font-weight: 400;

    span {
        background: $green-darker;
        color: #fff;
        display: inline-block;
        padding: .5rem 3rem;
        font-weight: 300;
        clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
    }
}

.box {
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;

    h3 {
        font-size: 2rem;
        line-height: 1.5;
        color: $black;
    }
    
    .precio {
        font-size: 18px;
        color: $black;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: $box-shasow;

    .logo {
        font-size: 2.3rem;
        font-weight: 400;
        color: $green;

        i {
            color: $green-darker;
            font-size: 2.3rem;
        }

        span {
            color: $green-darker;
            font-weight: 700;
            font-size: 2.5rem;
        }
    }

    .navbar {
        a {
            font-size: 1.7rem;
            margin: 0 1rem;
            color:$black;

            &:hover {
                color: $green;
            }
        }
    }

    .icons {
        i {
            font-size: 1.5rem;
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            border-radius: .5rem;
            background: $bg;
            color: $black;
            margin-left: .3rem;
            text-align: center;
            cursor: pointer;

            &:hover {
                background: $green;
                color: #fff;
            }
        }

        #menu-btn {
            display: none;
        }
    }

    .search-form {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 50rem;
        height: 5rem;
        background: #fff;
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        box-shadow: $box-shasow;

        input {
            height: 100%;
            width: 100%;
            background: none;
            text-transform: none;
            font-size: 1.6rem;
            color: $black;
            padding: 0 1.5rem;
        }

        label {
            font-size: 2.2rem;
            padding-right: 1.5rem;
            color: $black;
            cursor: pointer;

            &:hover {
                color: $green;
            }
        }

        &.active {
            right: 2rem;
            transition: .4s linear;
        }
    }

    .shopping-cart {
        position: absolute;
        top: 110%;
        right: -110%;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: $box-shasow;
        width: auto;
        background: #fff;

        .carrito-lista {
            width: auto;
            background: #fff;

            .carrito-items {
                display: grid;
                grid-template-columns: 70px 100px 70px 70px 50px;
                border-bottom: .1rem solid rgba(234, 218, 202,.9);

                .carrito-img {
                    padding: 1rem;

                    img {
                        width: 100%;
                    }
                }

                .carrito-info {
                    text-align: left;
                    padding: 1rem;

                    h3 {
                        font-size: 14px;
                        color: $black;
                        font-weight: 500;
                        margin-bottom: .5rem;
                    }

                    p {
                        font-size: 12px;
                        color: $black;
                        font-weight: 300;
                    }
                }

                .quantity-btns {
                    display: flex;
                    justify-content: center; 
                    padding: 1rem;

                    .btn-plus {
                        i {
                            color: $black;
                            font-size: 16px;
                            text-align: center;
                            padding-top: .1rem;

                            &:hover {
                                color: $black-lighter;
                            }
                        }
                    }

                    .cantidad-item {
                        width: 20px;
                        color: $black;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                    }

                    .btn-minus {
                        i {
                            color: $black;
                            font-size: 16px;
                            text-align: center;
                            padding-top: .1rem;

                            &:hover {
                                color: $black-lighter;
                            }
                        }
                    }
                }

                .item-precio {
                    display: flex;
                    justify-content: center; 
                    padding: 1rem;

                    p {
                        font-size: 14px;
                        color: $black;
                    }
                }

                .btn-delete {
                    display: flex;
                    justify-content: center; 
                    color: $black;
                    font-size: 16px;
                    text-align: center;
                    padding: 1rem;

                    &:hover {
                        color: $black-lighter;
                    }
                }
            }
        }

        .carrito-vacio {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            padding: 1rem;

            p {
                text-align: center;
                color: $black;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 1.5rem;
            }

            .comprar-btn {
                grid-column: 1 / 4;
                display: flex;
                justify-content: center;
                padding: 1rem 0;

                a {
                    text-align: center;
                    padding: .8rem 8rem;
                    font-size: 14px;
                    border-radius: .5rem;
                    border: .2rem solid $black;
                    color: $black;
                    cursor: pointer;
                    background: none;
                
                    &:hover {
                        background: $green;
                        color: #fff;
                    }
                }
            }
        }

        .compra-modal {
            .close-btn {
                display: flex;
                justify-content: right;
                align-content: center;
                padding-bottom: .5rem;

                a {
                    cursor: pointer;
                    color: $black;
                    font-size: 20px;
                    font-weight: 100;

                    &:hover {
                        color: $black-lighter;
                    }
                }
            }

            .comprar-body {
                justify-content: center;
                align-content: center;

                h4 {
                    font-size: 16px;
                    color: $black;
                    font-weight: 500;
                    padding: .5rem;
                    text-align: center;

                    i {
                        font-size: 16px;
                        color: $green;
                    }
                }

                p {
                    font-size: 14px;
                    color: $black;
                    padding: .5rem;
                    text-align: center;
                }

                .comprar-img {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    margin-top: 2rem;

                    img {
                        width: 200px;
                        padding: 1rem;
                    }
                }
            }
        }

        .carrito-total {
            display: grid;
            grid-template-columns: 240px 70px 50px;

            .total-info {
                text-align: center;
                padding: 1rem;

                h3 {
                    font-size: 14px;
                    color: $black;
                    font-weight: 500;
                    margin-bottom: .5rem;
                }

                .total-items { 
                    p {
                        font-size: 12px;
                        color: $black;
                        font-weight: 300;
                    }
                }
            }

            .total-precio {
                display: flex;
                justify-content: center;
                padding: 1rem;

                p {
                    font-size: 14px;
                    color: $black;
                }
            }

            .vaciar-carrito {
                display: flex;
                justify-content: center;
                padding: 1rem;

                i {
                    color: $black;
                    font-size: 16px;
                    text-align: center;

                    &:hover {
                        color: $black-lighter;
                    }
                }
            }

            .comprar-btn {
                grid-column: 1 / 4;
                display: flex;
                justify-content: center;
                padding: 1rem 0;

                button {
                    text-align: center;
                    padding: .8rem 8rem;
                    font-size: 14px;
                    border-radius: .5rem;
                    border: .2rem solid $black;
                    color: $black;
                    cursor: pointer;
                    background: none;
                
                    &:hover {
                        background: $green;
                        color: #fff;
                    }
                }
            }
        }

        .box {
            i {
                font-size: 2rem;
                position: absolute;
                top: 50%;
                right: 2rem;
                cursor: pointer;
                color: $light-color;
                transform: translateY(-50%);

                &:hover {
                    color: $green;
                }
            }

            img {
                height: 10rem;
                width: 10rem;
            }

            .content {
                h3 {
                    color: $black;
                    font-size: 1.2rem;
                    padding-bottom: 1rem;
                }

                span {
                    color: $light-color;
                    font-size: 1.3rem;
                }

                .quantity {
                    padding-left: 1rem;
                }
            }
        }

        .total {
            font-size: 1.8rem;
            padding: 1rem 0;
            text-align: center;
            color: $black;
        }

        .checkout-btn {
            display: flex;
            justify-content: center;

            a {
                margin-top: 1rem;
                display: inline-block;
                width: 100%;
                text-align: center;
                padding: .8rem 0;
                margin: 1rem;
                font-size: 1.5rem;
                border-radius: .5rem;
                border: .2rem solid $black;
                color: $black;
                cursor: pointer;
    
                &:hover {
                    background: $green;
                    color: #fff;
                }
            }
        }

        &.active {
            right: 2rem;
            transition: .4s linear;
        }

        .template-carrito {
            .btn-plus {
                background: #fff;
                align-content: center;
                i {
                    font-size: 2rem;
                    color: $black;
    
                    &:hover {
                        color: $green-darker;
                    }
                }
            }
    
            .btn-minus {
                button {
                    background: #fff;
                    align-content: center;
                    i {
                        font-size: 2rem;
                        color: $black;
        
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .login-form {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: $box-shasow;
        padding: 2rem;
        border-radius: .5rem;
        background: #fff;
        text-align: center;

        h3 {
            color: $black;
            font-size: 2.3rem;
            text-transform: uppercase;

        }

        .box {
            width: 100%;
            margin: .7rem 0;
            background: $bg;
            border-radius: .5rem;
            padding: 1rem;
            font-size: 1.6rem;
            color: $black;
            text-transform: none;
        }

        p {
            font-size: 1.4rem;
            padding: .5rem 0;
            color: $light-color;

            a {
                color: $green-darker;
                text-decoration: underline;
            }
        }

        &.active {
            right: 2rem;
            transition: .4s linear;
        }

        .logIn-btn {
            margin-top: 1rem;
            display: inline-block;
            text-align: center;
            padding: .8rem 3rem;
            font-size: 1.5rem;
            border-radius: .5rem;
            border: .2rem solid $black;
            color: $black;
            cursor: pointer;
            background: none;
        
            &:hover {
                background: $green;
                color: #fff;
            }
        }
    }
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;

    .box {
        padding: 3rem 2rem;
        background: #fff;
        outline: $outline;
        outline-offset: -1rem;
        text-align: center;
        box-shadow: $box-shasow;
        justify-content: center;
        align-items: center;

        &:hover {
            outline: $outline-hover;
            outline-offset: 0rem;
        }

        img {
            height: 16rem;
        }

        h3 {
            font-size: 18px;
            line-height: 1.5;
            color: $black;
        }

        .promo-info {
            font-size: 14px;
            line-height: 1.5;
            color: $light-color;
            padding-top: 1rem;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: $light-color;
            padding: 1rem 0;
        }
        
        .price {
            font-size: 18px;
            color: $light-color;
        }
    }
}

.precio {
    font-size: 18px;
    color: $light-color;
}
/*----------- Home Section -----------*/
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/banne1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;

    .content {
        text-align: center;
        width: 60rem;

        h3 {
            color: #fff;
            font-size: 3.5rem;
            font-weight: 300;

            span {
                color: $green;
                font-weight: 600;
            }
        }

        p {
            color: $green-lighter;
            font-size: 2rem;
            font-weight: 300;
            padding: 1rem 0;
            line-height: 1.8;
        }

        .banner-btn {
            margin-top: 1rem;
            display: inline-block;
            text-align: center;
            padding: .8rem 3rem;
            font-size: 1.8rem;
            border-radius: .5rem;
            border: .2rem solid #fff;
            color: #fff;
            cursor: pointer;
            background: none;
        
            &:hover {
                background: $green;
                color: #fff;
            }
        }
    }
}

/*----------- Features Section -----------*/
.features {
    padding: 5rem 14rem;
}

/*----------- Products Section -----------*/
.productos {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        .producto-box {
            width: 250px;
            background: #fff;
            border-radius: .5rem;
            margin: 1rem;
            text-align: center;
            padding: 3rem 2rem;
            outline-offset: -1rem;
            outline: $outline;
            box-shadow: $box-shasow;
            transition: .2s linear;

            &:hover {
                outline-offset: 0rem;
                outline: $outline-hover;
            }

            img {
                width: 130px;
                height: 110px;
            }

            h3 {
                font-size: 18px;
                color: $black;
                font-weight: 500;
                margin-bottom: .5rem;
            }

            p {
                font-size: 14px;
                color: $light-color;
                margin-bottom: .5rem;
            }

            .precio {
                font-size: 18px;
                color: $black;
            }
        }
    }
}

/*----------- Promos Section -----------*/
.promos {
    padding: 5rem 14rem;
}

/*----------- Review Section -----------*/
.review {
    padding: 5rem 14rem;
    
    .review-slider {
        padding: 1rem;
    
        .box {
            background: #fff;
            border-radius: .5rem;
            text-align: center;
            padding: 3rem 2rem;
            outline-offset: -1rem;
            outline: $outline;
            box-shadow: $box-shasow;
            transition: .2s linear;
    
            &:hover {
                outline-offset: 0rem;
                outline: $outline-hover;
            }
    
            p {
                padding: 1rem 0;
                line-height: 1.5;
                color: $light-color;
                font-size: 1.5rem;
            }
    
            .client {
                display: flex;
                justify-content: space-around;
                align-content: center;
    
                img {
                    height: 6rem;
                    width: 6rem;
                    border-radius: 50%;
                }
    
                .nameStars {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    h3 {
                        padding-bottom: .5rem;
                        color: $black;
                        font-size: 1.5rem;
                    }
            
                    .stars {
                        i {
                            color: $green;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }    
}

/*----------- Footer Section -----------*/
.footer {
    background: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    &__box-container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
        gap: 1.5rem;

        .footer-box {
            h3 {
                font-size: 2rem;
                color: $green;
                font-weight: 500;
                padding: 1rem 0;
            }

            a {
                i {
                    color: $green;
                    font-size: 1.8rem;
                    padding-left: .5rem;
                }
            }

            .links {
                font-size: 1.3rem;
                display: block;
                color: $green;
                font: 1.5rem;
                padding: 1rem 0;

                i {
                    font-size: 1.3rem;
                    padding-right: .5rem;
                }

                &:hover {
                    color: $green-lighter;
                    padding-right: 2rem;
                }
            }

            p {
                font-size: 1.3rem;
                line-height: 1.8;
                font: 1.5rem;
                color: $green;
                padding: 1rem 0;
            }

            img {
                width: 50px;
            }

            .share {
                a {
                    i {
                        font-size: 2rem;
                        color: $green;
                        margin-left: .2rem;
    
                        &:hover {
                            color: $green-lighter;
                        }
                    }
                }
            }

            .email {
                width: 100%;
                margin: .7rem 0;
                padding: .7rem;
                border-radius: .5rem;
                font-size: 1.5rem;
                background: none;
                color: $green;
                border: 1px solid $green;
            }

            .payment-img {
                margin-top: 2rem;
                width: 15rem;
            }
        }
    }

    .credit {
        text-align: center;
        margin-top: 2rem;
        padding: 1rem;
        padding-top: 2.5rem;
        font-size: 1.5rem;
        color: $green;

        span {
            color: $green-lighter;
        }
    }
}

/*-------------- Media Queries --------------*/
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 2rem;
    }

    .header {
        padding: 2rem;
    }

    .products-btn {
        padding: .8rem 3rem;
    }

    .features {
        padding: 0 5rem;
    }

    .promos {
        padding: 0 5rem;
    }

    .review {
        padding: 3rem 5rem;

        .review-slider {
            .box {
                .client {
                    display: flex;
                    justify-content: center;
                    align-content: center;
            
                    img {
                        height: 6rem;
                        width: 6rem;
                        border-radius: 50%;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        padding: 2rem;

        .icons {
            #menu-btn {
                display: inline-block;
            }
        }

        .search-form {
            width: 90%;
        }

        .navbar {
            position: absolute;
            top: 110%;
            right: -110%;
            width: 30rem;
            box-shadow: $box-shasow;
            border-radius: .5rem;
            background: #fff;

            a {
                font-size: 2rem;
                margin: 2rem 2.5rem;
                display: block;
            }

            &.active {
                right: 2rem;
                transition: .4s linear;
            }
        }

        .features {
            padding: 0 1rem;
        }

        .review {
            padding: 1rem;
        }
    }

    .heading {
        font-size: 2.5rem;
    }

    .footer {
        text-align: center;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}